pm4py
numpy 
pandas 
networkx 
deprecation
matplotlib
scipy
scikit-learn
lxml 
graphviz
plotnine
tqdm
ipywidgets
# CUDA enabled PyTorch is very large
--extra-index-url https://download.pytorch.org/whl/cpu
torch